<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas for Exploratory Data Analysis

_Author: Kevin Markham (Washington, D.C.)_

---

## Learning Objectives

- Define what Pandas is and how it relates to data science.
- Manipulate Pandas `DataFrames` and `Series`.
- Filter and sort data using Pandas.
- Manipulate `DataFrame` columns.
- Know how to handle null and missing values.

------

### Data Preparation, EDA, and the Data Science Workflow

**Basic Workflow**
 * Define and frame your question(s)
 * Collect data relevant to your question(s)
 * **Prepare and analyze the data**
   * Clean and understand
   * Analyses
      * Shape and meaning
      * Hypothesis test
 * Conclusion and presentation
 
 Preparation and Simultaneous Analysis
   *  Data comes in from multiple sources / files
   *  Different meaning in different files
      *  Quality of kitchen is high
   *  Same attribute stated differently
      *  Date of birth versus age
      *  Marital status coded differently or different values
   * Noise in the file
      *  Misspellings, transpositions, etc. etc. etc.
      *  Obviously incorrect values
          * 1000 year old person
          * House with 500 bathrooms
          
  Goal of This Phase
    * Understand each data file -- what are the attributes and what do they mean
       * For example, "date last seen" for person's address
    * Identify and fix noise
       * This will always require some EDA
    * Deal with missing values
    * Merge different sources to get one view on data
    * Start getting a sense of how that data can be used to answer the question
    
 ------

<a id="pandas"></a>

## What Is Pandas?

- **Objective:** Define what Pandas is and how it relates to data science.

Pandas is a Python library that primarily adds two new datatypes to Python: `DataFrame` and `Series`.

- A `Series` is a sequence of items, where each item has a unique label (called an `index`).
- A `DataFrame` is a table of data. Each row has a unique label (the `row index`), and each column has a unique label (the `column index`).
- Note that each column in a `DataFrame` can be considered a `Series` (`Series` index).

> Behind the scenes, these datatypes use the NumPy ("Numerical Python") library. NumPy primarily adds the `ndarray` (n-dimensional array) datatype to Pandas. An `ndarray` is similar to a Python list â€” it stores ordered data. However, it differs in three respects:
> - Each element has the same datatype (typically fixed-size, e.g., a 32-bit integer).
> - Elements are stored contiguously (immediately after each other) in memory for fast retrieval.
> - The total size of an `ndarray` is fixed.

> Storing `Series` and `DataFrame` data in `ndarray`s makes Pandas faster and uses less memory than standard Python datatypes. Many libraries (such as scikit-learn) accept `ndarray`s as input rather than Pandas datatypes, so we will frequently convert between them.


### Using Pandas

Pandas is frequently used in data science because it offers a large set of commonly used functions, is relatively fast, and has a large community. Because many data science libraries also use NumPy to manipulate data, you can easily transfer data between libraries (as we will often do in this class!).

Pandas is a large library that typically takes a lot of practice to learn. It heavily overrides Python operators, resulting in odd-looking syntax. For example, given a `DataFrame` called `cars` which contains a column `mpg`, we might want to view all cars with mpg over 35. To do this, we might write: `cars[cars['mpg'] > 35]`. In standard Python, this would most likely give a syntax error. (**Challenge:** Using only built-in datatypes, can you define `cars` and `mpg` to make this expression valid?)

Pandas also highly favors certain patterns of use. For example, looping through a `DataFrame` row by row is highly discouraged. Instead, Pandas favors using **vectorized functions** that operate column by column. (This is because each column is stored separately as an `ndarray`, and NumPy is optimized for operating on `ndarray`s.)

Do not be discouraged if Pandas feels overwhelming. Gradually, as you use it, you will become familiar with which methods to use and the "Pandas way" of thinking about and manipulating data.

### Class Methods and Attributes

Pandas `DataFrame`s are Pandas class objects and therefore come with attributes and methods. To access these, follow the variable name with a dot. For example, given a `DataFrame` called `users`:

  - users.index -- accesses the `index` attribute -- note there are no parentheses. attributes are not callable
  - users.head() -- calls the `head` method (since there are open/closed parentheses)
  - users.head(10) -- calls the `head` method with parameter `10`, indicating the first 10 rows. this is the same as:
  - users.head(n=10) -- calls the `head` method, setting the named parameter `n` to have a value of `10`.

We know that the `head` method accepts one parameter with an optional name of `n` because it is in the documentation for that method. Let's see how to view the documentation next.

In [282]:
users.head?

### Viewing Documentation

There are a few ways to find more information about a method.

**Method 1:** In Jupyter, you can quickly view documentation for a method by following the method name by a `?`, as follows:

```
users.head?
```

> ```
Signature: users.head(n=5)
Docstring: Returns first n rows
```

Notice that we would normally invoke this method by calling `users.head(5)`. One quirk of IPython is that the `?` symbol must be the last character in the cell. Otherwise, it might not work.

> The `?` is a shortcut for the built-in Python function `help`, which returns the method's docstring. For example:
> ```
help(users.head)
```

**Method 2:** You can also search online for the phrase "`DataFrame head`", since you are calling the method `head` on the `users` object, which happens to be a `DataFrame`. (`type(users) => pandas.DataFrame`)

You can alternatively search online for `pandas head`, but be careful! `DataFrame` and `Series` both have a `head` method, so make sure you view the documentation for the correct one since they might be called differently. You will know you are looking at the correct documentation page because it will say `DataFrame.head` at the top, instead of `Series.head`.

## Pandas

In [2]:
# Load Pandas into Python
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline

-------------
#### Quick Note on Modules and Imports
  * A **module** is just a file full of Python code. Usually class and function definitions
  * There are three kinds of modules
    * Built-in modules, ship with standard Python distribution.  For example ``os`` is a built-module with some operating system specific functions
    * Installed modules, which you will typically get with ``conda install``.  For example ``pandas`` is an installed module
    * Your own module -- you just put Python code in a file ``foo.py`` and say ``install foo``
  * Modules define a "namespace" -- for example when I import pandas and it defines a class ``DataFrame`` its name is really ``pandas.DataFrame``
  * The ``as pd`` is just an alias so we can say ``pd.DataFrame``
  * You can import specific functions from a module, and alias them, as in the second import
  
  * The last line above is a "magic command" to configure the ``matplotlib`` library to render its plots in the notebook rather than opening a new window
    
------------------------------

<a id="reading-files"></a>
### Reading Files, Selecting Columns, and Summarizing

In [ ]:
users = pd.read_table('./data/user.tbl', sep='|')

**Examine the users data.**

In [ ]:
users                   # Print the first 30 and last 30 rows.

In [ ]:
type(users)             # DataFrame

In [ ]:
users.head()            # Print the first five rows.

In [ ]:
users.head(10)          # Print the first 10 rows.

In [ ]:
users.tail()            # Print the last five rows.

In [ ]:
 # The row index (aka "the row labels" â€” in this case integers)
users.index

In [ ]:
# Column names (which is "an index")
users.columns

In [ ]:
# Datatypes of each column â€” each column is stored as an ndarray, which has a datatype
users.dtypes

In [ ]:
# Number of rows and columns
users.shape

In [ ]:
# All values as a NumPy array
users.values

In [ ]:
# Concise summary (including memory usage) â€” useful to quickly see if nulls exist
users.info()

** Select or index data.**<br>
Pandas `DataFrame`s have structural similarities with Python-style lists and dictionaries.  
In the example below, we select a column of data using the name of the column in a similar manner to how we select a dictionary value with the dictionary key.

In [ ]:
# Select a column â€” returns a Pandas Series (essentially an ndarray with an index)
users['gender']

In [ ]:
# DataFrame columns are Pandas Series.
type(users['gender'])

In [ ]:
# Select one column using the DataFrame attribute.
users.gender

# While a useful shorthand, these attributes only exist
# if the column name has no punctuations or spaces.

**Summarize (describe) the data.**<br>
Pandas has a bunch of built-in methods to quickly summarize your data and provide you with a quick general understanding.

In [ ]:
# Describe all numeric columns.
#    Why would it make sense for the default to be numeric only?
users.describe()

In [ ]:
# Describe all columns of type object (can include multiple types).
users.describe(include=['object'])

In [ ]:
# Describe all columns, including non-numeric.
users.describe(include='all')

In [ ]:
# Describe a single column â€” recall that "users.gender" refers to a Series.
users.gender.describe()

In [ ]:
# Calculate the mean of the ages.
users.age.mean()

In [ ]:
# What about this -- remember zip_code column is of type object
users.zip_code.mean()

In [ ]:
# Draw a histogram of a column (the distribution of ages).
users.age.hist();

**Count the number of occurrences of each value.**

In [ ]:
users.gender.value_counts()   # Most useful for categorical variables

In [ ]:
users.gender.value_counts().plot(kind='bar')     # Quick plot by category

In [ ]:
# Can also be used with numeric variables
#   Try .sort_index() to sort by indices or .sort_values() to sort by counts.
users.age.value_counts()

In [ ]:
users.age.value_counts().sort_index().plot(kind='bar', figsize=(12,12));     # Bigger plot by increasing age
plt.xlabel('Age');
plt.ylabel('Number of users');
plt.title('Number of users per age');

In [ ]:
# x/y scatter plots -- 
avc = users.age.value_counts()
plt.scatter(avc.index, avc)

<a id="exercise-one"></a>
### Exercise 1

In [ ]:
# Read drinks.csv into a DataFrame called "drinks".
drinks = pd.read_csv('data/drinks.csv')

In [ ]:
# Print the head and the tail.

In [ ]:
# Examine the column indexes, datatypes, and shape.

In [ ]:
# Print the beer_servings Series.

In [ ]:
# Calculate the average beer_servings for the entire data set.

<a id="filtering-and-sorting"></a>
### Filtering and Sorting
- **Objective:** Filter and sort data using Pandas.

We can use simple operator comparisons on columns to extract relevant or drop irrelevant information.

**Logical filtering: Only show users with age < 20.**

In [ ]:
# Create a Series of Booleansâ€¦
# In Pandas, this comparison is performed element-wise on each row of data.
young_bool = users.age < 20
print(type(young_bool))
young_bool

In [ ]:
# â€¦and use that Series to filter rows.
# In Pandas, indexing a DataFrame by a Series of Booleans only selects rows that are True in the Boolean.
young_users = users[young_bool]
print(type(young_users))
young_users.head()

In [ ]:
# Or, combine into a single step.
users[users.age < 20].head(2)

In [ ]:
# Since the masked data frame is itself a dataframe,
# you can use all the same operations
users[users.age < 20].occupation.value_counts()

**Logical filtering with multiple conditions**

In [ ]:
# Ampersand for `AND` condition
# Important: You MUST put parentheses around each expression because `&` has a higher precedence than `<`.
users[(users.age < 20) & (users.gender=='M')]

In [ ]:
# Pipe for `OR` condition
# Important: You MUST put parentheses around each expression because `|` has a higher precedence than `<`.
users[(users.age < 20) | (users.age > 60)]

In [ ]:
# Preferred alternative to multiple `OR` conditions
users[users.occupation.isin(['doctor', 'lawyer'])]

**Sorting**

In [ ]:
# Sort a Series.
users.age.sort_values()

In [ ]:
# Sort a DataFrame by a single column.
users.sort_values('age')

In [ ]:
# Use descending order instead.
users.sort_values('age', ascending=False)

In [ ]:
# Sort by multiple columns for nested sort
users.sort_values(['occupation', 'age'])

<a id="exercise-two"></a>
### Exercise 2
Use the `drinks.csv` or `drinks` `DataFrame` from earlier to complete the following.

In [ ]:
# Filter DataFrame to only include European countries.

In [ ]:
# Filter DataFrame to only include European countries with wine_servings > 300.

In [ ]:
# Calculate the average beer_servings for all of Europe.

In [ ]:
drinks = pd.read_table('./data/drinks.csv', sep=',')

In [ ]:
# Determine which 10 countries have the highest total_litres_of_pure_alcohol.
#drinks.sort_values(drinks.total_litres_of_pure_alcohol)

<a id="columns"></a>
### Renaming, Adding, and Removing Columns

- **Objective:** Manipulate `DataFrame` columns.

In [ ]:
# Rename one or more columns in a single output using value mapping.
#  Produces a new copy with renamed columns
print(drinks.columns)
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})
print(drinks.columns)

In [ ]:
# Rename one or more columns in the original DataFrame.
#  Replaces names in the current data frame
print(drinks.columns)
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)
print(drinks.columns)

In [ ]:
# Replace all column names using a list of matching length.
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent'] 

# Replace during file reading (disables the header from the file).
drinks = pd.read_csv('data/drinks.csv', header=0, names=drink_cols)

**Easy Column Operations**<br>
Rather than having to reference indexes and create for loops to do column-wise operations, Pandas is smart and knows that when we add columns together we want to add the values in each row together.

In [ ]:
# Add a new column as a function of existing columns.
#  This operation *does* change the data frame

drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

drinks.head()

**Removing Columns**

In [ ]:
# axis=0 for rows, 1 for columns
drinks.drop('mL', axis=1)

In [ ]:
# Drop multiple columns.
drinks.drop(['mL', 'servings'], axis=1)

In [ ]:
# Remember those do not change the original data frame
drinks.columns

In [ ]:
# Drop on the original DataFrame rather than returning a new one.
drinks.drop(['mL', 'servings'], axis=1, inplace=True)

<a id="missing-values"></a>
### Handling Missing Values

- **Objective:** Know how to handle null and missing values.

Sometimes, values will be missing from the source data or as a byproduct of manipulations. It is very important to detect missing data. Missing data can:

- Make the entire row ineligible to be training data for a model.
- Hint at data-collection errors.
- Indicate improper conversion or manipulation.
- Actually not be missing â€” it sometimes means "zero," "false," "not applicable," or "entered an empty string."

For example, a `.csv` file might have a missing value in some data fields:

```
tool_name,material,cost
hammer,wood,8
chainsaw,,
wrench,metal,5
```

When this data is imported, "null" values will be stored in the second row (in the "material" and "cost" columns).

> In Pandas, a "null" value is either `None` or `np.NaN` (Not a Number). Many fixed-size numeric datatypes (such as integers) do not have a way of representing `np.NaN`. So, numeric columns will be promoted to floating-point datatypes that do support it. For example, when importing the `.csv` file above:

> - **For the second row:** `None` will be stored in the "material" column and `np.NaN` will be stored in the "cost" column. The entire "cost" column (stored as a single `ndarray`) must be stored as floating-point values to accommodate the `np.NaN`, even though an integer `8` is in the first row.

In [ ]:
# Missing values are usually excluded in calculations by default.
print(drinks.shape)
print(drinks[drinks.continent.notnull()].shape)
drinks.continent.value_counts()

In [ ]:
# Includes missing values
drinks.continent.value_counts(dropna=False)

In [ ]:
# Find missing values in a Series.
# True if missing, False if not missing
drinks.continent.isnull()

In [ ]:
# Count the missing values â€” sum() works because True is 1 and False is 0.
drinks.continent.isnull().sum()

In [ ]:
# True if not missing, False if missing
drinks.continent.notnull()

In [ ]:
# Only show rows where continent is not missing.
drinks[drinks.continent.notnull()]

**Understanding Pandas Axis**

In [ ]:
# Sums "down" the 0 axis (rows) â€” so, we get the sums of each column
drinks.sum(axis=0)

In [ ]:
# axis=0 is the default.
drinks.sum()

In [ ]:
# Sums "across" the 1 axis (columns) â€” so, we get the sums of numeric values in the row (beer+spirit+wine+liters+â€¦)
drinks.sum(axis=1)

In [ ]:
print(drinks.head(2))
print("---")
print(drinks.sum(axis=1).head(2))

**Find missing values in a `DataFrame`.**

In [ ]:
# DataFrame of Booleans
drinks.isnull()

In [ ]:
# Count the missing values in each column â€” remember by default, axis=0.
print((drinks.isnull().sum()))

In [ ]:
drinks.isnull().sum().plot(kind='bar');         # visually
plt.title('Number of null values per column');

**Dropping Missing Values**

In [ ]:
# Drop a row if ANY values are missing from any column â€” can be dangerous!
drinks.dropna()

In [ ]:
# Drop a row only if ALL values are missing.
drinks.dropna(how='all')

**Filling Missing Values**<br>
You may have noticed that the continent North America (NA) does not appear in the `continent` column. Pandas read in the original data and saw "NA", thought it was a missing value, and converted it to a `NaN`, missing value.

In [ ]:
# Fill in missing values with "NA" â€” this is dangerous to do without manually verifying them!
drinks.continent.fillna(value='NA')

In [ ]:
# Modifies "drinks" in-place
drinks.continent.fillna(value='NA', inplace=True)

In [ ]:
# Turn off the missing value filter â€” this is a better approach!
drinks = pd.read_csv('../data/drinks.csv', header=0, names=drink_cols, na_filter=False)

<a id="exercise-three"></a>
### Exercise 3

In [ ]:
# Read ufo.csv into a DataFrame called "ufo".

In [ ]:
# Check the shape of the DataFrame.

In [ ]:
# What are the three most common colors reported?

In [ ]:
# Rename any columns with spaces so that they don't contain spaces.

In [ ]:
# For reports in VA, what's the most common city?

In [ ]:
# Print a DataFrame containing only reports from Arlington, VA.

In [ ]:
# Count the number of missing values in each column.

In [ ]:
# How many rows remain if you drop all rows with any missing values?

<a id="split-apply-combine"></a>
### Split-Apply-Combine

Split-apply-combine is a pattern for analyzing data. Suppose we want to find mean beer consumption per country. Then:

- **Split:** We group data by continent.
- **Apply:** For each group, we apply the `mean()` function to find the average beer consumption.
- **Combine:** We now combine the continent names with the `mean()`s to produce a summary of our findings.

In [ ]:
drinks = pd.read_csv('data/drinks.csv')
drinks.info()

In [ ]:
gb = drinks.groupby('continent')
gb.describe()

In [ ]:
# For each continent, calculate the mean beer servings.
drinks.groupby('continent').beer_servings.mean()

In [ ]:
# For each continent, calculate the mean of all numeric columns.
drinks.groupby('continent').mean()

In [ ]:
# For each continent, describe beer servings.
drinks.groupby('continent').beer_servings.describe()

In [ ]:
# Similar, but outputs a DataFrame and can be customized â€” "agg" allows you to aggregate results of Series functions
#drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max'])
drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max']).sort_values('mean')

In [ ]:
# For each continent, count the number of rows.
print((drinks.groupby('continent').continent.count()))
print((drinks.continent.value_counts()))   # should be the same

<a id="exercise-four"></a>
### Exercise 4

Use the "users" `DataFrame` or "users" file in the Data folder to complete the following.

In [ ]:
users = pd.read_table('./data/user.tbl', sep='|')
users.info()

In [ ]:
# For each occupation in "users", count the number of occurrences.

In [ ]:
# For each occupation, calculate the mean age.

In [ ]:
# For each occupation, calculate the minimum and maximum ages.

In [ ]:
# For each combination of occupation and gender, calculate the mean age.

----

<a id="multiple-columns"></a>
### Selecting Multiple Columns and Filtering Rows

In [ ]:
# Select multiple columns â€” yet another overload of the DataFrame indexing operator!
my_cols = ['City', 'State']     # Create a list of column names...
ufo[my_cols]                    # ...and use that list to select columns.

In [ ]:
# Or, combine into a single step (this is a Python list inside of the Python index operator!).
ufo[['City', 'State']]

**Use `loc` to select columns by name.**

In [ ]:
# "loc" locates the values from the first parameter (colon means "all rows"), 
#  and the column "City". Does the same thing as ufo.City but can be more general
ufo.loc[:, 'City']

In [ ]:
# Select two columns.
ufo.loc[:, ['City', 'State']]

In [ ]:
# Select a range of columns â€” unlike Python ranges, 
#  Pandas index ranges INCLUDE the final column in the range.
ufo.loc[:, 'City':'State']

In [ ]:
# "loc" can also filter rows by "name" (the index).
# Row 0, all columns
rowzero = ufo.loc[0,:]
print(type(rowzero))
print(rowzero)
print(rowzero['State'])

In [ ]:
# Rows 0/1/2, all columns
ufo.loc[0:2, :]

In [ ]:
# Rows 0/1/2, range of columns
ufo.loc[0:2, 'City':'State']

In [ ]:
# Use "iloc" to filter rows and select columns by integer position.
# (Remember that rows/columns use indices, so "iloc" lets you refer 
# to indices via their index rather than value)
# All rows, columns in position 0/3 (City/State)
ufo.iloc[:,[0, 3]]

In [ ]:
# All rows, columns in position 0/1/2/3
# Note here it is NOT INCLUDING 4 because this is an integer range, not a Pandas index range!
ufo.iloc[:, 0:4]

In [ ]:
# Rows in position 0/1/2, all columns
ufo.iloc[0:3, :]

<a id="joining-dataframes"></a>
### Joining (Merging) `DataFrames`

In [ ]:
!head -3 data/movies.tbl

In [ ]:
movie_cols = ['movie_id', 'title']
movies_filename = 'data/movies.tbl'

movies = pd.read_table(movies_filename, encoding="latin-1", sep='|', header=None, names=movie_cols, usecols=[0, 1])
movies.head()

In [ ]:
!head data/movie_ratings.tsv

In [ ]:
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_filename = 'data/movie_ratings.tsv'
ratings = pd.read_table(ratings_filename, sep='\t', header=None, names=rating_cols)
ratings.info()

In [ ]:
# Merge "movies" and "ratings" (inner join on "movie_id").
movie_ratings = pd.merge(movies, ratings)
movie_ratings.head(10000)

In [ ]:
print(movies.shape)
print(ratings.shape)
print(movie_ratings.shape)

Going back to the original files we see that
  * Lion King has movie ID 71
  * In the ratings file there are 220 ratings with that movie ID
  * Which is the number of rows in the merged/joined data frame

In [ ]:
!grep 'Lion King' data/movies.tbl
!echo "---------------"
!awk -F"\t" '$2 == "71" {print $0}' data/movie_ratings.tsv
!echo "---------------"
!awk -F"\t" '$2 == "71" {print $0}' data/movie_ratings.tsv | wc -l

In [ ]:
movie_ratings[movie_ratings.movie_id == 71].shape

<a id="other-features"></a>
### OPTIONAL: Other Commonly Used Features

In [ ]:
# Apply an arbitrary function to each value of a Pandas column, storing the result in a new column.
users['under30'] = users.age.apply(lambda age: age < 30)

In [ ]:
# Apply an arbitrary function to each row of a DataFrame, storing the result in a new column.
#  (Remember that, by default, axis=0. Since we want to go row by row, we set axis=1.)
users['under30male'] = users.apply(lambda row: row.age < 30 and row.gender == 'M', axis=1)

In [ ]:
# Map existing values to a different set of values.
users['is_male'] = users.gender.map({'F':0, 'M':1})

In [ ]:
# Replace all instances of a value in a column (must match entire value).
ufo.State.replace('Fl', 'FL', inplace=True)

In [ ]:
# String methods are accessed via "str".
ufo.State.str.upper()                               # Converts to upper case
# checks for a substring
ufo[ufo['Colors'].str.contains('RED', na=False)]

In [ ]:
# Convert a string to the datetime format (this is often slow â€” consider doing it in the "read_csv()" method.)
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # Datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # Also allows you to do datetime "math"

In [ ]:
ufo = pd.read_csv('data/ufo.csv')
ufo.info()

In [ ]:
ufo.Time.head(2)

In [ ]:
# Set and then remove an index.
ufo.set_index('Time', inplace=True)

In [ ]:
print(ufo.info())

In [ ]:
ufo.Time.head(2)

--------

In [256]:
# Change the datatype of a column.
drinks['beer'] = drinks.beer.astype('float')

----------

Dummy variables are used for learning algorithms to deal with categorical variables.
If I have an attribute **size** that can only have three state, small medium and large I create binary variables for example **size_small** and **size_medium** then if the size is small I set the dummies to be (1,0) if the size is medium I set (0,1) and if the size is large I set (0,0)

In [ ]:
# Create dummy variables for "continent" and exclude first dummy column.
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

In [ ]:
continent_dummies.head(10)

In [ ]:
# Concatenate two DataFrames (axis=0 for rows, axis=1 for columns).
drinks = pd.concat([drinks, continent_dummies], axis=1)

In [ ]:
drinks.head(5)

<a id="uncommon-features"></a>
### OPTIONAL: Other Less-Used Features of Pandas

In [ ]:
user = pd.read_table("data/user.tbl", sep='|')
user.info()

In [ ]:
# Detecting duplicate rows
print(user.shape[0])
dedup = user.drop_duplicates(['age', 'gender', 'occupation', 'zip_code'])
print(dedup.shape[0])     # Drop duplicate rows

In the example above we had to choose columns because the **user_id** column was unique so there were no true duplicates.  But if **user_id** really is unique, then it can be used as an index.  Once it is an index we can dedupe on all columns and find 7 duplicates.

user = pd.read_table("data/user.tbl", sep='|')
user.set_index('user_id', inplace=True)
user.duplicated().sum()

---------------------

In [ ]:
drinks = pd.read_csv('data/drinks.csv')
drinks.info()

In [ ]:
# Convert a range of values into descriptive groups.
drinks['beer_level'] = 'low'    # Initially set all values to "low"
drinks.loc[drinks.beer_servings.between(101, 200), 'beer_level'] = 'med'     # Change 101-200 to "med"
drinks.loc[drinks.beer_servings.between(201, 400), 'beer_level'] = 'high'    # Change 201-400 to "high"

In [ ]:
drinks.head(10)

In [ ]:
# Display a cross-tabulation of two Series.
pd.crosstab(drinks.continent, drinks.beer_level)

-------
For learning applications it is important to know whether a variable is just a string -- like "name" that could take any value, or categorical like "beer_level" that can only take three values.

In [ ]:
drinks.info()

In [ ]:
# Convert "beer_level" into the "category" datatype.
drinks['beer_level'] = pd.Categorical(drinks.beer_level, categories=['low', 'med', 'high'])
drinks.sort_values('beer_level')   # Sorts by the categorical ordering (low to high)

In [ ]:
# Limit which rows are read when reading in a file â€” useful for large files!
pd.read_csv('../data/drinks.csv', nrows=10)           # Only read first 10 rows
pd.read_csv('../data/drinks.csv', skiprows=[1, 2])    # Skip the first two rows of data

In [ ]:
# Write a DataFrame out to a .csv
drinks.to_csv('drinks_updated.csv')                 # Index is used as first column
drinks.to_csv('drinks_updated.csv', index=False)    # Ignore index

In [ ]:
# Create a DataFrame from a dictionary.
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

In [ ]:
# Create a DataFrame from a list of lists.
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

In [ ]:
# Randomly sample a DataFrame.
import NumPy as np
mask = np.random.rand(len(drinks)) < 0.66   # Create a Series of Booleans
train = drinks[mask]                        # Will contain around 66% of the rows
test = drinks[~mask]                        # Will contain the remaining rows

In [ ]:
# Change the maximum number of rows and columns printed ('None' means unlimited).
pd.set_option('max_rows', None)     # Default is 60 rows
pd.set_option('max_columns', None)  # Default is 20 columns
print(drinks)

In [ ]:
# Reset options to defaults.
pd.reset_option('max_rows')
pd.reset_option('max_columns')

In [ ]:
# Change the options temporarily (settings are restored when you exit the "with" block).
with pd.option_context('max_rows', None, 'max_columns', None):
    print(drinks)

<a id="summary"></a>
### Summary

Believe it or not, we've only barely touched the surface of everything that Pandas offers. Don't worry if you don't remember most of it â€” for now, just knowing what exists is key. Remember that the more you use Pandas to manipulate data, the more of these functions you will take interest in, look up, and remember.

In this notebook, the most important things to familiarize yourself with are the basics:
- Manipulating `DataFrames` and `Series`
- Filtering columns and rows
- Handling missing values
- Split-apply-combine (this one takes some practice!)