In [1]:
import pandas as pd
import numpy as np 
%matplotlib inline

In [66]:
## Error -- read_table vs read_csv
songs = pd.read_csv("rock.csv")

In [5]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [67]:
## Rename columns so they are proper variable names

songs = songs[['Song Clean', 'Release Year', 'Year?']]
songs.rename(columns={'Song Clean': 'title', 'Release Year': 'releaseYear', 'Year?': 'year'}, inplace=True)

In [21]:
songs.head()

                    title releaseYear  year
0        Caught Up in You        1982     1
1            Fantasy Girl         NaN     0
2         Hold On Loosely        1981     1
3  Rockin' Into the Night        1980     1
4       Art For Arts Sake        1975     1

In [37]:
# Does Year? really just mean Release year is missing?
songs.releaseYear[(songs.year == 0) & (pd.notnull(songs.releaseYear))]

0

In [60]:
sum(pd.isnull(songs.releaseYear))

577

In [56]:
#  Why is releaseYear not numeric?
songs.releaseYear.value_counts().sort_index()

1071               1
1955               1
1958               1
1961               1
1962               3
1963               9
1964              14
1965              28
1966              30
1967              61
1968              46
1969              72
1970              81
1971              75
1972              50
1973             104
1974              48
1975              83
1976              56
1977              83
1978              64
1979              63
1980              70
1981              61
1982              54
1983              60
1984              51
1985              39
1986              37
1987              39
1988              29
1989              32
1990              22
1991              34
1992              14
1993              19
1994              25
1995              10
1996               9
1997               9
1998               6
1999              13
2000               3
2001               4
2002               6
2003               3
2004               5
2005               5
2006               1
2007               3
2008               3
2011               3
2012               5
2013               2
2014               2
SONGFACTS.COM      1
Name: releaseYear, dtype: int64

In [68]:
## Silly, but let's fill null values with 1900 -- almost never a good idea!
songs.releaseYear = songs.releaseYear.fillna('1900')

In [73]:
songs.releaseYear.value_counts().sort_index()

1900    579
1955      1
1958      1
1961      1
1962      3
1963      9
1964     14
1965     28
1966     30
1967     61
1968     46
1969     72
1970     81
1971     75
1972     50
1973    104
1974     48
1975     83
1976     56
1977     83
1978     64
1979     63
1980     70
1981     61
1982     54
1983     60
1984     51
1985     39
1986     37
1987     39
1988     29
1989     32
1990     22
1991     34
1992     14
1993     19
1994     25
1995     10
1996      9
1997      9
1998      6
1999     13
2000      3
2001      4
2002      6
2003      3
2004      5
2005      5
2006      1
2007      3
2008      3
2011      3
2012      5
2013      2
2014      2
Name: releaseYear, dtype: int64

In [72]:
songs.releaseYear[songs.releaseYear == 'SONGFACTS.COM'] = '1900'
songs.releaseYear[songs.releaseYear == '1071'] = '1900'
## And do the same for 1071 -- notice we now have an integer column

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [79]:
songs.title.map(len).value_counts().sort_index()

2       1
3      11
4      33
5      42
6      43
7      68
8      79
9      99
10    135
11    135
12    142
13    148
14    142
15    131
16    152
17    121
18    112
19    104
20     83
21     67
22     64
23     57
24     43
25     28
26     31
27     30
28     24
29     12
30     17
31     12
32     10
33      7
34      8
35     10
36      5
37      4
38      4
39      1
40      1
41      2
42      1
43      2
46      1
47      1
48      1
52      1
55      2
56      1
57      1
59      1
Name: title, dtype: int64

In [78]:
songs.title[songs.title.apply(lambda s: len(s) <= 2)]

1566    45
Name: title, dtype: object

In [80]:
## Delete rows with mutant titles
print(songs.shape)
songs = songs[songs.title.map(len) <= 3]
print(songs.shape)

(2230, 3)
(12, 3)